.ticket {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: #FFFFFF;
  box-shadow: 0 1px 4px 0 rgba(91,137,164,0.25);
  border-radius: 5px;
  transition: box-shadow .2s;
}

.ticket:hover {
  box-shadow: 0 5px 25px 0 rgba(91,137,164,0.10);
}

.ticket__left {
  flex: 0 0 200px;
  padding: 25px 20px;
  border-right: 1px solid #eceff1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ticket__right {
  flex: 1;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ticket__carrier {
  margin-bottom: 20px;
}

.ticket__carrier img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.ticket__buy {
  display: block;
  width: 100%;
  background: #ff6d00;
  box-shadow: 0 1px 0 0 #d64d08, 0 2px 1px 0 rgba(0,0,0,0.10);
  border-radius: 5px;
  appearance: none;
  outline: none;
  cursor: pointer;
  padding: 6px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
  line-height: 1.4;
  border: 0;
  transition: box-shadow, background .2s;
}

.ticket__buy:hover {
  background: #ff8124;
  box-shadow: 0 1px 0 0 #f7661d, 0 1px 5px 0 rgba(0,0,0,0.25);
}

.ticket__time {
  font-size: 32px;
  color: #000000;
  letter-spacing: 0;
  line-height: 26px;
  margin-bottom: 10px;
}

.ticket__name {
  font-weight: 600;
  font-size: 12px;
  color: #000000;
  line-height: 18px;
  white-space: nowrap;
}

.ticket__date {
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
}

.ticket__stops {
  flex: 1;
  margin: 0 10px;
  font-weight: 600;
  font-size: 10px;
  color: #000000;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 8px;
  border-bottom: 1px solid #d2d5d6;
  min-width: 70px;
  min-height: 20px;
}

.ticket__stops::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(50%);
  width: 16px;
  height: 14px;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-image: url("data:image/svg+xml,%3Csvg width='13px' height='13px' viewBox='0 0 13 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='1024' transform='translate(-780.000000, -200.000000)' fill-rule='nonzero' fill='%23D2D5D6'%3E%3Cg id='Ticket' transform='translate(355.000000, 161.000000)'%3E%3Cg id='ic_airplanemode_active_black_24px' transform='translate(432.000000, 45.500000) rotate(-270.000000) translate(-432.000000, -45.500000) translate(425.500000, 38.500000)'%3E%3Cpath d='M13,10.1 L13,8.8 L7.52631579,5.55 L7.52631579,1.975 C7.52631579,1.4355 7.06789474,1 6.5,1 C5.93210526,1 5.47368421,1.4355 5.47368421,1.975 L5.47368421,5.55 L0,8.8 L0,10.1 L5.47368421,8.475 L5.47368421,12.05 L4.10526316,13.025 L4.10526316,14 L6.5,13.35 L8.89473684,14 L8.89473684,13.025 L7.52631579,12.05 L7.52631579,8.475 L13,10.1 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ticket__destination {
  text-align: right;
}

@media (max-width: 550px) {
  .ticket {
    flex-direction: column;
    justify-content: flex-start;
  }

  .ticket__left {
    flex: 0;
    order: 2;
    border-right: 0;
    border-top: 1px solid #eceff1;
    padding: 15px;
  }

  .ticket__right {
    order: 1;
    padding: 15px;
  }

  .ticket__time {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .ticket__name {
    font-size: 10px;
  }

  .ticket__date {
    font-size: 10px;
  }
}
