.app {
  max-width: 820px;
  margin: 0 auto 50px;
}

.app__logo {
  display: block;
  width: 60px;
  height: 60px;
  margin: 50px auto;
}

.app__logo img {
  display: block;
  width: 100%;
  height: auto;
}

.app__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.app__sidebar {
  flex: 0 0 232px;
  margin-right: 20px;
}

.app__tickets {
  flex: 1;
}

@media (max-width: 830px) {
  .app {
    padding: 0 15px;
  }

  .app__logo {
    margin: 30px auto;
  }

  .app__container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .app__sidebar {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}