.currencies-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currencies-list__item {
  flex: 1;
}

.currencies-list__item:first-child {
  margin-right: -1px;
}

.currencies-list__item:last-child {
  margin-left: -1px;
}

.currencies-list__item:first-child .currency__label {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.currencies-list__item:last-child .currency__label {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
